body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.header {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.header img {
    width: 150px;
    height: 150px;
    margin-right: 20px;
    border-radius: 50%; 
    object-fit: cover;
}

.header h1 {
    color: #007bff;
    margin: 0;
    font-size: 2.5em;
}

.header h4 {
    color: #666;
    margin-top: 5px;
    font-weight: normal;
}

form ul {
    list-style: none;
    padding: 0;
}

form ul li {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 200px;
}

button {
    background-color: #28a745; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-weight: bold;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 15px;
    margin-bottom: 20px; 
}

table th, table td {
    padding: 12px;
    text-align: left;
    border: 1px solid #ddd;
}

table th {
    background-color: #007bff; 
    color: white;
    text-align: center;
}

table tr:nth-child(even) {
    background-color: #f2f2f2;
}



.table-remove button {
    background-color: #dc3545; 
}
.table-remove button:hover {
    background-color: #c82333;
}

.venda-area {
    padding-top: 10px;
}

.venda-area button {
    background-color: #0dff00; 
    color: #333;
}

.venda-area button:hover {
    background-color: #0dff00;
}

.venda-area button:disabled {
    background-color: #0dff00;
    cursor: not-allowed;
}

.btn-secondary button {
    background-color: #6c757d; 
}

.btn-secondary button:hover {
    background-color: #5a6268;
}